[Unit]
Description=junkins gunicorn daemon
After=network.target

[Service]
User={user}
Group={user_group}
WorkingDirectory={working_directory}
ExecStart={working_directory}/junkins_venv/bin/gunicorn --error-log junkins-error.log --access-logfile - --workers 1 --bind unix:{working_directory}/junkins.sock junkins.wsgi:app

[Install]
WantedBy=multi-user.target